html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}


a:hover
{
    color: cyan;
}

.orientleft#content
{
    transform: rotate(-90deg);
    transform-origin:50% 50%;
}

.orientright#content
{
    transform: rotate(90deg);
    transform-origin:50% 50%;
}
